# freeze versions for tests
attrs ~= 23.1.0
cattrs ~= 23.1.0
ytsaurus-client ~= 0.13.33
ytsaurus-yson ~= 0.4.5

isort ~= 5.13.2
black ~= 24.4.2
ruff ~= 0.4.4
mypy ~= 1.10.0
mypy-extensions ~= 1.0.0
types-PyYAML ~= 6.0.12
bump-my-version ~= 0.18.3
generate-changelog ~= 0.10.0
twine ~= 5.1.0
